header {
    background-color : rgb(255, 126, 126);
    border : 3px solid rgb(252, 112, 151);
    color : white;
    text-align:center;
    margin-bottom: 5px;
} 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

 
 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    position: relative;
  }
  
  input[type="checkbox"]:checked {
    border-color: #5cb85c;
    background-color: #5cb85c;
  }
  
  input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"] + label {
    margin-left: 5px;
  }

  td, tr {
    border-bottom: 4px dashed #000000;
   
  }
  table {
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  font-size: 26px;
  }
td {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 150%;
}

#deletebuttons{
  display: flex;
  justify-content: center;
}


#valdaButton {
  background-color: #5cb85cab;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  padding:10px;
  border-radius: 10px;
  color:#ffffff;
}
#allaButton {
  background-color: #ff0000ab;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
margin-left: 10px;
  border-radius:10px;
  color: #ffffff;
}

#varabutton {
  background-color:rgb(255, 126, 126);
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  border-radius:10px;
  font-size: 22px;
  color:#ffffff;
}

#varainput {
 width:30%;
 margin-left: 1%;
 font-size: 22px;

}
form {
text-align: center;
margin-bottom: 10px;
}
